.item {
  height: 101vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  scroll-snap-align: start;

  position: relative;
}

.viewport-block {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1vh;
}

.item__container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.hide {
  display: none;
}

.item__text {
  /* margin-top: 20%; */
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #393c41;
  align-items: center;
  flex: 1;
  position: fixed;
  top: 20%;
}

.item__title {
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
}

.item__textDesc {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.item__lowerThird {
  /* margin-bottom: 10%; */
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10%;
  
}

.item__buttons {
  display: flex;
}

.item__expand {
  color: white;
  width: 100%;
  margin-top: 3%;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .item__buttons {
    flex-flow: wrap;
  }
}